﻿@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <div class="col-md-2" style="background-color: #151c22">
                            <p class="lead" style="color:#f6ddb0">Kategoriler</p>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Roman</a>
                                <a href="#" class="list-group-item">Öykü</a>
                                <a href="#" class="list-group-item">Şiir</a>
                                <a href="#" class="list-group-item">Deneme</a>
                                <a href="#" class="list-group-item">Anı</a>
                                <a href="#" class="list-group-item">Gezi Yazısı</a>
                                <a href="#" class="list-group-item">Çizgi Roman</a>
                                <a href="#" class="list-group-item">Araştırma-Tarih</a>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row carousel-holder">
                                <div class="col-md-12">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img class="slide-image" src="~/Images/slide-1.jpg" alt="">
                                            </div>
                                            <div class="item">
                                                <img class="slide-image" src="~/Images/slide-2.jpg" alt="">
                                            </div>
                                            <div class="item">
                                                <img class="slide-image" src="~/Images/slide-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <h2 style="color:#f6ddb0">Son Eklenenler</h2>
                            <table class="table" border="1" style="background-color:#151c22">
                                <tr>
                                    <th style="color:#f6ddb0">
                                        <center>Kitabın Adı</center>
                                    </th>
                                    <th style="color:#f6ddb0">
                                        <center>Kitabın Yazarı</center>
                                    </th>
                                    <th style="color:#f6ddb0">
                                        <center>Çıkış Tarihi</center>
                                    </th>
                                    <th style="color:#f6ddb0"></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>