﻿
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12" style="background-color:whitesmoke">
                    <hr>
                    <h2 class="intro-text text-center" style="color:rgb(224,68,65)">
                        <strong>Hakkımızda</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="~/img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6" style="background-color:whitesmoke">
                    <h2> </h2>
                    <p><strong style="color:rgb(224,68,65)">"Ne Okumalı", 2016 yılında kurulmuş olan bir kitap eleştiri sitesidir.</strong></p>
                    <p><strong style="color:rgb(224,68,65)">Bu site kapsamında, dilediğiniz kitabı özgürce eleştirebilir, kitap okumak isteyenlere yardımcı olabilirsiniz.</strong></p>
                    <p><strong style="color:rgb(224,68,65)">Üslubunuzu koruduğunuz müddetçe eleştirinizin daha sağlıklı olacağına inandığımızdan, uygunsuz bulunan içerikler yayınlanmayacaktır. Yapacağınız eleştirilerin uygunsuz olmaması kadar yapıcı olması da önem arz etmektedir.</strong></p>
                    <p><strong style="color:rgb(224,68,65)">İyi vakit geçirmeniz dileğiyle...</strong></p>
                    <h2 style="color:rgb(224,68,65)">"Ne Okumalı" Ekibi</h2>
                    <h2> </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>