﻿
@{
    ViewBag.Title = "PuanKatalogu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12" style="background-color:whitesmoke">
                <hr>
                <h2 class="intro-text text-center" style="color:#03a9f4">
                    <strong>Puan Kataloğu</strong>
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</pstyle="color:#03a9f4">
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Project Name
                    </strong>
                </h3>
                <p style="color:#03a9f4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

